<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bandev.labyrinth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Labyrinth"
        android:fullBackupContent="@xml/backup_descriptor">

        <provider
            android:name="org.bandev.labyrinth.account.Provider"
            android:authorities="org.bandev.labyrinth.account.provider"
            android:label="@string/sync_title"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name="org.bandev.labyrinth.account.SyncService"
            android:exported="false"
            android:syncable="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service
            android:name=".account.Manager"
            android:exported="false"
            android:process=":authentication">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>


        <activity android:name=".MainActivity"/>
        <activity android:name=".ProjectsListActivity" />
        <activity android:name=".GroupsListActivity" />
        <activity android:name=".GroupsActivity" />

        <activity
            android:name=".SettingsAct">
        </activity>
        <activity
            android:name=".OtherProfile">
        </activity>
        <activity android:name=".projects.Issues" />
        <activity android:name=".projects.NewIssue" />
        <activity android:name=".account.activities.NewStatus" />
        <activity
            android:name=".ProfileActivity">
        </activity>
        <activity
            android:name=".ProfileKeysAct" />
        <activity
            android:name=".account.activities.ProfileEmailsAct" />
        <activity
            android:name=".account.activities.ProfileStatusAct" />
        <activity
            android:name=".account.activities.ProfileTokenAct" />
        <activity
            android:name=".PinSomething" />
        <activity
            android:name=".ProjectActivity" />
        <activity
            android:name=".projects.Commits" />
        <activity
            android:name=".projects.FileViewer" />
        <activity
            android:name=".projects.MergeRequests" />
        <activity
            android:name=".projects.IndividualMR" />
        <activity
            android:name=".projects.IndividualIssue" />
        <activity
            android:name=".projects.BranchSelector" />
        <activity
            android:name=".NewProjectActivity" >
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Search" />


        <activity
            android:name=".projects.IndividualFileViewer" />
        <activity
            android:name=".projects.IndividualCommit" />



        <activity
            android:name=".intro.First"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" />
        <activity
            android:name=".SplashActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Labyrinth.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.Second"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".BiometricFailActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".AboutActivity">
        </activity>

        <activity
            android:name=".NoInternetActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

    </application>

</manifest>